form {
  display: flex;
  padding: 10px;
}
.thelist {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  display: inline;
  text-align: center;
}

ul {
    list-style-type:none;
}

button {
	background-color: #5497AF;
	border: none;
	padding: 5px;
	font-size: 10px;
	margin: 10px;
	align: right;
	color: #FFF;
	
}

#submit:hover{
	cursor: pointer;
	background-color: #759FAF;
}

#delete:hover{
	cursor: pointer;
	background-color: #a83a32;
}

